.profile__image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-right: 30px;
  object-fit: cover;
}

@media screen and (min-width: 320px) and (max-width: 1279px) {
  .profile__image {
    margin: 0 auto 0;
  }
}
